script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=true"
javascript:
  var myLatlng;
  var map;
  var marker;

  function initialize() {
    myLatlng = new google.maps.LatLng(42.485160, -71.208774);

    var mapOptions = {
      zoom: 13,
      center: myLatlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      scrollwheel: false,
      draggable: false
    };
    map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

    var contentString = '<p style="line-height: 20px;"><strong>Alphard Lab, Inc</strong></p><p>15 New England Executive Park, Burlington, Massachusetts, 01803</p>';

    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });

    marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title: 'Marker'
    });

    google.maps.event.addListener(marker, 'click', function () {
      infowindow.open(map, marker);
    });
  }

  google.maps.event.addDomListener(window, 'load', initialize);